* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3f444d;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ==================== HEADER ==================== */ 
.header {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #222831;
}

.header__title, .header__time {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ffffff;
}

.header__button {
    display: block;
}

.button {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #47a386;
    border: 1px solid #47a386;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9rem;
    width: 8rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    /* Elimina resplandor cuando recibe el focus */
    outline: none;
}

.button--close {
    width: 6.8rem;
    padding: 0.5rem 0.8rem;
}

.button__img {
    width: 1.5rem;
    height: 1.5rem;
}

.button__text {
    display: block;
}

/* ==================== MAIN ==================== */
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3.5% 10%;
}

.board__img {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

/* ==================== MODAL ==================== */
.container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Controla si puede o no recibir eventos del cursor */
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #ffffff;
    width: 25rem;
    padding: 1.25rem 2.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0;
}

.modal__img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 3.2rem;
    box-shadow: 2px 2px 5px #999999;
}

.modal__text {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.875rem 0;
    color:  #3f444d;
}

/* ==================== DIV WRAPPER ==================== */
.wrapper {
    max-width: 1024px;  
    flex: 1; 
    height: inherit;
    margin: 0px auto;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;    
}

/* ==================== MEDIA QUERIES ==================== */
/* 809 y 971 se pone de 5 img */
@media screen and (max-width: 768px) {
    .header {
        justify-content: space-evenly;
    }

    .button__text {
        display: none;
    }

    .button--icon {
        width: 3rem;
    }

    .board {
        margin: 3.5% 8%;
    }
}

@media screen and (max-width: 645px) {
    .header__title {
        font-size: 1.1rem;
    }

    .board {
        margin: 3.5% 6%;
    }

    .board__img {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media screen and (max-width: 565px) {
    .board {
        margin: 3.5% 4%;
    }
}

@media screen and (max-width: 493px) {
    .header__title {
        display: none;
    }

    .header__time {
        font-size: 1.5rem;
    }

    .board {
        margin: 3.5% 2%;
    }

    .board__img {
        width: 5.5rem;
        height: 5.5rem;
    }

    .modal {
        width: 80%;
        padding: 1.25rem;
    }

    .modal__img {
        width: 4.25rem;
        height: 4.25rem;
    }

    .modal__text {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .button--close {
        width: 5rem;
    }
}  

@media screen and (max-width: 406px) {
    .board {
        margin: 3.5% 2%;
    }

    .board__img {
        width: 5rem;
        height: 5rem;
    }
} 

@media screen and (max-width: 320px) {
    .board {
        margin: 11.5% 9%;
    }

    .board__img {
        width: 3rem;
        height: 3rem;
    }

    .modal__img {
        width: 4.5rem;
        height: 4.5rem;
    }
}