@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #393e46;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button {
    background-color: #47a386;
    border: 1px solid #47a386;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 0.8rem;
    width: 6.8rem;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    /* Elimina resplandor cuando recibe el focus */
    outline: none;
}

.container-modal {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    /* permite controlar si un elemento puede o no recibir los eventos del cursor */
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.show {
    pointer-events: auto;
    /* permite que se muestre la ventana */
    opacity: 1;
}

.window-modal {
    /* background-color: #222831; */
    background-color: #ffffff;
    width: 400px;
    max-width: 100%;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.window-modal p {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
    /* color: #ffffff; */
    color:  #000000;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    color: #ffffff;
}

header h1 {
    margin-left: 10px;
    font-size: 1.5rem;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    /* height: 30px; */
}

.time span {
    margin-right: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}

main {
    margin: 3% 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.figure-img {
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 5px;
}
